<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW CHAT</title>
</head>
<body>
    <h2> WRITE  NEW CHAT </h2>
    <form method="POST" action="/chat">
        <input placeholder= "who are you" name="from"/>
        <br><br>
        <textarea name="msg"> write your message.. </textarea>
        <br><br>
        <input placeholder= "add receiver" name="to"/>
        <br><br>
        <button>submit in  chat</button>
    </form>    
    

    
</body>
</html>